<article
  class="mb-6 flex flex-col items-center justify-center text-justify gap-8 text-gray-800 dark:text-gray-300 md:flex-row"
>
  <div
    class="p-6 text-base md:text-lg [&>p]:mb-4 [&>p>strong]:text-yellow-600 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Soy Eduardo Chacón, Desarrollador Full Stack con experiencia en la
      creación y mantenimiento de aplicaciones web. Me especializo en
      tecnologías como: <strong
        >Java, React JS, JavaScript, TypeScript, Astro, Node JS, Spring MVC, Programación
        Orientada a Objetos (POO), Microservicios, Principios SOLID, APIs RESTful, Bootstrap,
        Tailwind, MySQL, HTML, CSS, GitHub, Vercel, Figma, Postman, WordPress,
        Trello, Notion, Miro</strong
      >, entre otras.
    </p>

    <p>
      A lo largo de mi trayectoria, me he enfocado en desarrollar de proyectos
      que abarcan tanto el Front-end como el Back-end, destacándome en la <strong
        >implementación de soluciones eficientes y la optimización de la
        experiencia del usuario</strong
      >, para garantizar una navegación agradable y fluida.
    </p>

    <p>
      Me caracterizo por mi <strong
        >compromiso con la calidad, la atención al detalle, y mi capacidad para
        trabajar en equipo</strong
      >, enfrentando desafíos complejos con soluciones innovadoras. Con una
      sólida base técnica y una pasión por la programación, estoy siempre
      dispuesto a aprender y adaptarme a nuevas tecnologías para ofrecer
      resultados excepcionales.
    </p>
  </div>
</article>
