---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "JUNIO 2024 - PRESENTE",
    title: "PROGRAMADOR FRONT END",
    company: "IGROWKER",
    description:
      "Colaborando activamente en el trabajo en equipo, desarrollé y maqueté aplicaciones web con un enfoque mobile-first, creando interfaces de usuario intuitivas y responsivas. Implementé manejo de eventos y lógica condicional para la visualización dinámica del contenido. Optimicé el código aplicando buenas prácticas de desarrollo, asegurando eficiencia y rendimiento en la integración de API's, y mantuve componentes reutilizables para facilitar la escalabilidad y coherencia en los proyectos.",
    technologies:
      "React JS, Node JS, PostgreSQL, RESTful APIs, JavaScript, TypeScript, Java, Spring, Tailwind-CSS, Figma, GitHub, Vercel, Render.",
  },
  {
    date: "JUNIO 2023 - DIC 2024",
    title: "PROGRAMADOR FRONT END",
    company: "MAKISAN TECH",
    description:
      "Desarrollo y mantenimiento de aplicaciones y páginas web, asegurando la calidad y funcionalidad continua de los productos. Mejorar la experiencia del usuario y optimizar el rendimiento de los proyectos mediante la implementación de mejores prácticas de desarrollo y técnicas avanzadas de optimización.",
    technologies: "Java, Spring, JavaScript, Bootstrap, HTML, CSS, GitHub.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="pl-8 md:pl-0">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
