---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "JUNIO 2024 - JULIO 2024",
    title: "PROGRAMADOR FRONT END",
    company: "IGROWKER",
    description:
      "Desarrollo de una web app Mobile First para administrar eventos de manera eficiente. Asegurar la viabilidad técnica y comercial del proyecto, generando impacto y crecimiento en las habilidadesde los desarrolladores.",
  },
  {
    date: "JUNIO 2023 - DIC 2024",
    title: "PROGRAMADOR FRONT END",
    company: "MAKISAN TECH",
    description:
      "Desarrollo y mantenimiento de aplicaciones y páginas web.· Mejorar de la experiencia del usuario y optimización del rendimiento de proyectos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="pl-8 md:pl-0">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
