---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "JUNIO 2024 - PRESENTE",
    title: "PROGRAMADOR FULL STACK",
    company: "IGROWKER",
    description:
      "Desarrollé aplicaciones web Mobile-First, participando como Front-End Developer en los proyectos Bariló y Flowento, y como Back-End Developer en Mindup. Implementé interfaces de usuario intuitivas y responsivas en los proyectos front-end, aplicando lógica condicional, manejo de eventos y componentes reutilizables. En el back-end, desarrollé APIs RESTful robustas con Java Spring Boot, gestionando la lógica del servidor, bases de datos relacionales y no relacionales (PostgreSQL y MongoDB) y facilitando la integración con el front-end. Optimicé el código siguiendo buenas prácticas de desarrollo, asegurando escalabilidad y rendimiento en todos los proyectos.",
    technologies:
      "React JS, Node JS, Java, Spring Boot, PostgreSQL, MongoDB, RESTful APIs, Tailwind CSS, JavaScript, TypeScript, Figma, GitHub, Vercel, Render.",
  },
  {
    date: "JUNIO 2023 - DIC 2024",
    title: "PROGRAMADOR FRONT END",
    company: "MAKISAN TECH",
    description:
      "Desarrollo y mantenimiento de aplicaciones y páginas web, asegurando la calidad y funcionalidad continua de los productos. Mejorar la experiencia del usuario y optimizar el rendimiento de los proyectos mediante la implementación de mejores prácticas de desarrollo y técnicas avanzadas de optimización.",
    technologies: "Java, Spring, JavaScript, Bootstrap, HTML, CSS, GitHub.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="pl-8 md:pl-0">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
