---
const currentYear = new Date().getFullYear();
---

<footer
  class="relative flex flex-col items-center justify-between w-full max-w-screen-xl py-4 pt-8 pb-8 mx-auto md:flex-row md:justify-between md:pt-1"
>
  <span
    class="flex flex-col gap-2 text-center text-white md:flex-row lg:gap-6 md:pl-16 lg:pl-6 text-zinc-800/90 dark:text-zinc-200/90"
    >© {currentYear}
    <a href="" class="hover:underline pb-2 md:pl-2 md:pb-0">Eduardo Chacón</a>
  </span>
  <ul
    class="flex flex-row items-center mt-0 text-white gap-x-8 md:pr-16 lg:pr-6 dark:text-white/90 sm:mt-0"
  >
    <li>
      <a href="/#sobre-mi" class="hover:underline me-4 md:me-6 p-2">Sobre mí</a>
    </li>
    <li>
      <a
        id="contacto"
        href="mailto:eduardo.elias.1192@gmail.com"
        class="hover:underline p-2">Contacto</a
      >
    </li>
  </ul>
</footer>
